In [1]:
import pandas as pd

In [68]:
# df = pd.read_json("all/raw_data1.json")
# df1 = pd.read_json("all/raw_data2.json")
# df2 = pd.read_json("all/raw_data3.json")
# df3 = pd.read_json("all/raw_data4.json")
# df4 = pd.read_json("all/raw_data5.json")
# df5 = pd.read_json("all/raw_data6.json")
# df6 = pd.read_json("all/raw_data7.json")
# df7 = pd.read_json("all/raw_data8.json")
# dfi = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])

dfi = pd.read_json("all/raw_data2.json")

In [69]:
dfi.head()

,agebracket,backupnotes,contractedfromwhichpatientsuspected,currentstatus,dateannounced,detectedcity,detecteddistrict,detectedstate,estimatedonsetdate,gender,...,notes,numcases,patientnumber,source1,source2,source3,statecode,statepatientnumber,statuschangedate,typeoftransmission
0,20,Student from Wuhan,,Recovered,30/01/2020,Thrissur,Thrissur,Kerala,,F,...,Travelled from Wuhan,1,1,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,,KL,KL-TS-P1,14/02/2020,Imported
1,,Student from Wuhan,,Recovered,02/02/2020,Alappuzha,Alappuzha,Kerala,,,...,Travelled from Wuhan,1,2,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,,KL,KL-AL-P1,14/02/2020,Imported
2,,Student from Wuhan,,Recovered,03/02/2020,Kasaragod,Kasaragod,Kerala,,,...,Travelled from Wuhan,1,3,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,KL,KL-KS-P1,14/02/2020,Imported
3,45,Travel history to Italy and Austria,,Recovered,02/03/2020,East Delhi (Mayur Vihar),East Delhi,Delhi,,M,...,"Travelled from Austria, Italy",1,4,https://www.indiatoday.in/india/story/not-a-ja...,https://economictimes.indiatimes.com/news/poli...,,DL,DL-P1,15/03/2020,Imported
4,24,"Travel history to Dubai, Singapore contact",,Recovered,02/03/2020,Hyderabad,Hyderabad,Telangana,,M,...,"Travelled from Dubai to Bangalore on 20th Feb,...",1,5,https://www.deccanherald.com/national/south/qu...,https://www.indiatoday.in/india/story/coronavi...,https://www.thehindu.com/news/national/coronav...,TG,TS-P1,02/03/2020,Imported

In [70]:
df_k = dfi[dfi['detectedstate'] == "Maharashtra"]
# df_k = dfi
df_k['patientnumber'] = 'P' + df_k['patientnumber'].astype(str)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [71]:
df_k1 = df_k.drop(['detectedstate', 'source1', 'source2', 'source3', 'statecode', 'statepatientnumber', 'statuschangedate', 'numcases'], axis =1 )

In [72]:
df_k1.head()

,agebracket,backupnotes,contractedfromwhichpatientsuspected,currentstatus,dateannounced,detectedcity,detecteddistrict,estimatedonsetdate,gender,nationality,notes,patientnumber,typeoftransmission
43,,"Returned from Dubai on 1 March, Husband of P45",,Recovered,09/03/2020,Pune,Pune,,M,India,"Travelled from Dubai on 1 March, Husband of P45",P44,Imported
44,,"Returned from Dubai on 1 March, Wife of P44",,Recovered,09/03/2020,Pune,Pune,,F,India,"Travelled from Dubai on 1 March, Wife of P44",P45,Imported
59,3,Daughter of P44 & P45,"P44, P45",Hospitalized,10/03/2020,Pune,Pune,,F,India,Daughter of P44 & P45,P60,Local
60,,Co-passenger with P44 & P45 in cab of P62 from...,"P44, P45",Hospitalized,10/03/2020,Pune,Pune,,,India,Co-passenger with P44 & P45 in cab of P62 from...,P61,Local
61,,"Cab driver who ferried P44, P45, P61 from Mumb...","P44, P45",Hospitalized,10/03/2020,Pune,Pune,,M,India,"Cab driver who ferried P44, P45, P61 from Mumb...",P62,Local

In [73]:
df_k1.to_json("raw_data_all.json", orient='records')

In [74]:
dfi.head()

,agebracket,backupnotes,contractedfromwhichpatientsuspected,currentstatus,dateannounced,detectedcity,detecteddistrict,detectedstate,estimatedonsetdate,gender,...,notes,numcases,patientnumber,source1,source2,source3,statecode,statepatientnumber,statuschangedate,typeoftransmission
0,20,Student from Wuhan,,Recovered,30/01/2020,Thrissur,Thrissur,Kerala,,F,...,Travelled from Wuhan,1,1,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,,KL,KL-TS-P1,14/02/2020,Imported
1,,Student from Wuhan,,Recovered,02/02/2020,Alappuzha,Alappuzha,Kerala,,,...,Travelled from Wuhan,1,2,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,,KL,KL-AL-P1,14/02/2020,Imported
2,,Student from Wuhan,,Recovered,03/02/2020,Kasaragod,Kasaragod,Kerala,,,...,Travelled from Wuhan,1,3,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,KL,KL-KS-P1,14/02/2020,Imported
3,45,Travel history to Italy and Austria,,Recovered,02/03/2020,East Delhi (Mayur Vihar),East Delhi,Delhi,,M,...,"Travelled from Austria, Italy",1,4,https://www.indiatoday.in/india/story/not-a-ja...,https://economictimes.indiatimes.com/news/poli...,,DL,DL-P1,15/03/2020,Imported
4,24,"Travel history to Dubai, Singapore contact",,Recovered,02/03/2020,Hyderabad,Hyderabad,Telangana,,M,...,"Travelled from Dubai to Bangalore on 20th Feb,...",1,5,https://www.deccanherald.com/national/south/qu...,https://www.indiatoday.in/india/story/coronavi...,https://www.thehindu.com/news/national/coronav...,TG,TS-P1,02/03/2020,Imported